# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

OpenTimer/*
!OpenTimer/ot
OpenTimer/ot/config.hpp

CMakeLists.txt

.idea
.vscode
*benchmark
*backup*
*build*
log
test
*/report
README
*.log
*.png
*.txt
# cmp_run.sh
plot.py
